:root {
    --color-background-navbar1:#333376;
    --color-background-navbar2:#160E44;
    --color-background-button:#FDB813;
    --color-background-footer:#0A0816;
    --color-background-html:#E5E5E5;;
  }

  
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  html, body{
    background-color: var(--color-background-html);
  }
  #app{
    background-color: var(--color-background-html);
  }
/*Scroll Bar*/
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, #c07676),
									   color-stop(0.72, #cf4444),
									   color-stop(0.86, #d83636));
}
